@import "vars";
@import "fonts";
@import "reset";
@import "global";

.top {
    background-color: $color-accent;
    
    &__container {
        margin: auto;
        max-width: 1000px;
        padding: 20px 0 20px;
        background-color: rgb(137, 187, 216);
        text-align: center;
    }
}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 25px;
    position: relative;
    list-style: none;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/heart.svg);
        width: 20px;
        height: 20px;
        left: -5px;
    }

    &__list {
        display: flex;
    }

    &__item {
        color: #ebf0ab;
        padding-right: 40px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow.svg);
            width: 10px;
            height: 8px;
            right: 15px;
            top: 7px;
        }

        &:last-child {
            color: rgb(54, 138, 79);
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}

@import "media";
